In [2]:
import pandas as pd

In [7]:
a = [1,2,3]
b = [2,3,3]
df = pd.DataFrame({'a':a, 'b':b})
df

   a  b
0  1  2
1  2  3
2  3  3

In [5]:
df_x = df.copy()

In [8]:
df_new = pd.concat([df, df_x], axis=0)
df_new

   a  b
0  1  2
1  2  3
2  3  3
0  1  2
1  2  3
2  3  3

In [28]:
df_new.sample(len(df_new))

   a  b
2  3  3
2  3  3
0  1  2
0  1  2
1  2  3
1  2  3