In [1]:
import pandas as pd

In [2]:
a = pd.DataFrame({'a':[1,2,3], 'b': [2,3,4]})

In [3]:
a

   a  b
0  1  2
1  2  3
2  3  4

In [4]:
b = pd.DataFrame({'a':[5,6], 'b':[7,0]})

In [5]:
b

   a  b
0  5  7
1  6  0

In [8]:
pd.concat([a, b], axis=0)

   a  b
0  1  2
1  2  3
2  3  4
0  5  7
1  6  0